<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WordBreaker.Properties.Settings.WordBreakerConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WordBreaker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>